{% extends 'ecoplatform/problem-base.html' %}
{% load static %}
{% block content %}

<style>
    .env{
        padding:3px;
    }

    .cos{
        padding:3px;
    }

    .cas{
        padding:3px;
    }
</style>
<section class="project-page" id="root">
    <article class="project_modal--wrapper">
        <a href="{{ request.META.HTTP_REFERER }}"><img src="{% static 'images/project-modal/close-btn.png' %}" alt="" class="close-btn"></a>
        <h5>Edit ECO Problem</h5>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" class="input-field location-field" name="title" placeholder="Title" value="{{ problem.title }}" required>
            <textarea class="textarea-field" name="description" placeholder="Description" required>{{ problem.description }}</textarea>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" name="image">
            </div>
    
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" name="tags" placeholder="Enter tags separated by commas" value="{{ problem.tags }}">
            </div>
    
            <h5>Environment</h5>
            <div class="env">
                <input type="checkbox" name="air" value="1" {% if problem.air %}checked{% endif %}> Air Pollution
                <input type="checkbox" name="water" value="1" {% if problem.water %}checked{% endif %}> Water Pollution
                <input type="checkbox" name="land" value="1" {% if problem.land %}checked{% endif %}> Land Pollution
                <input type="checkbox" name="climate" value="1" {% if problem.climate %}checked{% endif %}> Climate Change
            </div>
    
            <h5>Costs</h5>
            <div class="cos">
                <input type="checkbox" name="money" value="1" {% if problem.money %}checked{% endif %}> Monetary
                <input type="checkbox" name="health" value="1" {% if problem.health %}checked{% endif %}> Health
                <input type="checkbox" name="time" value="1" {% if problem.time %}checked{% endif %}> Time
            </div>
    
            <h5>Causes</h5>
            <div class="cas">
                <input type="checkbox" name="industrial" value="1" {% if problem.industrial %}checked{% endif %}> Industrial Processes
                <input type="checkbox" name="transport" value="1" {% if problem.transport %}checked{% endif %}> Transportation
                <input type="checkbox" name="construction" value="1" {% if problem.construction %}checked{% endif %}> Construction
                <input type="checkbox" name="agriculture" value="1" {% if problem.agriculture %}checked{% endif %}> Agriculture
            </div>
    
            <button type="submit" class="btn-primary btn btn-sm">Save Changes</button>
        </form>
    </article>
</section>

{% endblock %}
