{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Problems Page</h1>

<label>For Problem
<form method="get">
{{ problems.form.as_p }}
<button type="submit">Search</button>
</form>
</label>
{% for problem in problems.qs%}
<h3>Title >>> {{problem.title}} || {{project.owner}}</h3>
<p>Description >>> {{problem.description}}</p>

<span>Category: {{problem.category}}</span>
<p><a href={% url 'ecoplatform:problem_detail' problem.pk %}>Learn more about {{problem.title}} problem...</a></p>
<a href="#"><img src="{{problem.problem_photo_main.url}}" width="600" height="300"></a>
{% endfor %}

<hr />


<h1>Projects Page</h1>
<form method="get">
<label>For Project</label>
{{ projects.form.as_p }}
<button type="submit">Search</button>
</form>

{% for project in projects.qs %}

<h3>Title >>> {{project.title}} || {{project.owner}}</h3>
<p>Description >>> {{project.description}}</p>

<span>Category: {{project.category}}</span>
<p><a href={% url 'ecoplatform:project_detail' project.pk %}>Learn more about {{project.title}} project...</a></p>
{% endfor %}

{% if user.is_authenticated %}
<a href="{% url 'ecousers:logout' %}">Logout</a>
{% else %}
<a href="{% url 'ecousers:login' %}">Login</a>
{% endif %}

<nav>
<p><a href={% url 'ecoplatform:project_list'  %}>View more projects here...</a></p>
|
<p><a href={% url 'ecoplatform:problem_list' %}>View more problems here...</a></p>
</nav>
{% endblock content %}


