<h1>Projects page</h1>


<h3>Welcome <span>{{user.username}}</span></h3>
{% for project in projects %}

<h3>Title >>> {{project.title}} || {{project.owner}}</h3>
<p>Description >>> {{project.description}}</p>

<span>Category: {{project.category}}</span>
<p>{{project.title}}</p>
{% endfor %}

<br />
<h1>Problems page</h1>

{% for problem in problems%}

<h3>Title >>> {{problem.title}} || {{project.owner}}</h3>
<p>Description >>> {{problem.description}}</p>

<span>Category: {{problem.category}}</span>
<p>{{problem.title}}</p>
{% endfor %}

<p> <a href="{% url 'ecousers:register' %}">Sign Up</a> </p>
<br>

{% if user.is_authenticated %}
<p> <a href="{% url 'ecousers:logout' %}">Logout</a> </p>
{% else %}
<p> <a href="{% url 'ecousers:login' %}">Login</a> </p>
{% endif %}
