{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Eco Problems </title> {% endblock title %}
{% block content %}
<section class="main-content">
    <aside class="category">
        <div class="cat-wrapper">
            <h5>Category</h5>
            <div class="radio">
                <div>
                    <label for="All">All</label>
                    <input type="radio" name="category" id="All" value="All" {% if selected_category_slug == 'All' %}checked{% endif %}
                        onclick="location.href='{% url 'ecoplatform:problem_list' %}'">
                </div>
                {% for category in category_list %}
                    <div>
                        <label for="{{category.slug}}">{{category}}</label>
                        <input type="radio" name="category" id="{{category.slug}}" value="{{category.slug}}" {% if selected_category_slug == category.slug %}checked{% endif %}
                            onclick="location.href='{% url 'ecoplatform:problem_list_category' category.slug %}'">
                    </div>
                {% endfor%}
            </div>
            <h5>Based on location</h5>
            
                <form method="GET" action="{% url 'ecoplatform:search' %}" class="cat-search">
                    <input type="text" name="keyword" placeholder="Enter search location..">
                    <button type="submit"><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form>
            {% comment %} <h5>Based on host</h5>
            <form>
                <input type="text" name="" id="" placeholder="Search host name..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form> {% endcomment %}
        </div>
    </aside>
    <main class="card-main">
        <div class="heading">
            <h5>Problems Posted on The ECO</h5>

            <div class="search">
                <form method="GET" action="{% url 'ecoplatform:search' %}" class="cat-search">
                    <input type="text" name="keyword" placeholder="Enter search location..">
                    <button type="submit"><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form>
                <!-- <button class="filter-btn d-none">
                    <img src="images/filter-square.png" alt="filter button">
                </button> -->
            </div>
            
        </div>
        <aside class="mob-cat" id="">
            <div class="cat-wrapper">
                <h5>Category</h5>
                <div class="radio">
                    <div>
                        <label for="All">All</label>
                        <input type="radio" name="category" id="All" value="All" checked="true" {% if selected_category_slug == 'All' %} checked="true" {% endif %}
                            onclick="location.href='{% url 'ecoplatform:problem_list' %}'">
                    </div>
                    {% for category in category_list %}
                        <div>
                            <label for="{{category.slug}}">{{category}}</label>
                            <input type="radio" name="category" id="{{category.slug}}" value="{{category.slug}}" {% if selected_category_slug == category.slug %}checked{% endif %}
                                onclick="location.href='{% url 'ecoplatform:problem_list_category' category.slug %}'">
                        </div>
                    {% endfor%}
                </div>
                <h5>Based on location</h5>
                <form method="GET" action="{% url 'ecoplatform:search' %}">
                    <input type="text" name="keyword" placeholder="Enter search location..">
                    <button type="submit"><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form>
                
                {% comment %} <h5>Based on host</h5>
                <form method="GET">
                    <input type="text" name="search_host" placeholder="Search host name..">
                    <button type="submit"><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form> {% endcomment %}

            </div>
        </aside>
        
        {% for problem in problem_list %}
         <div class="card">
            <div class="card-wrapper">
                <div class="card-header">
                    <div class="post-location">
                        {{problem.user.full_name|capfirst}} |  <img src="{% static 'images/card/Pindrop.png' %}" alt=""><span class="text-fix">{{problem.location}}</span>
                    </div>
                    <div class="eco-cat">
                        <p class="text-fix">Eco Community: <a href="">{{problem.category}}</a></p>
                    </div>
                    <div class="goal">
                        <p class="text-fix">UNSdg Goal: </p><img src="{% static 'images/card/eco.png' %}" alt="">
                    </div>
                </div>
                <hr>
                <div class="card-details">
                    <p>{{problem.description}}</p>
                    <div class="detail-img">
                        <img style="border-radius: 8px;" src="{{problem.problem_photo_main.url}}" alt="" class="first">
                        <div class="second">
                            <img style="border-radius: 8px; margin-bottom:5px;" src="{{problem.problem_photo_1.url}}" alt="">
                            <img style="border-radius: 8px;" src="{{problem.problem_photo_2.url}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="up-count">
                        <img src="{% static 'images/card/upvote.png' %}" alt="">
                        <span>1,354</span>
                    </button>
                    <button class="down-count">
                        <img src="{% static 'images/card/downvote.png' %}" alt="">
                        <span>456</span>
                    </button>
                    <button class="idea-count">
                        <img src="{% static 'images/card/idea.png' %}" alt="">
                        <span>456</span>
                    </button>

                    <a href="details-page.html" class="card-link">
                        Link to problem
                    </a>
                </div>
            </div>

        </div>
        {% empty%}
        <h4 style="text-align:center">No posted problem for query</h4>
      
        {% endfor %}
       
       

    </main>
</section>


<script>
    // Set the appropriate radio button to "checked" when the page loads
    var selected_category_slug = '{{ selected_category_slug }}';
    if (selected_category_slug != 'All') {
        var radio_button = document.getElementById(selected_category_slug);
        if (radio_button) {
            radio_button.checked = true;
        }
    }
</script>









{% endblock content %}