{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Eco Problems </title> {% endblock title %}
{% block contents %}
<div class="heading" id="details-heading">
    <a href="{{ request.META.HTTP_REFERER }}"><img src="{% static 'images/return.png' %}" alt="back button"></a>
    
    <h5>Problems Posted on The ECO</h5>
</div>         
<div class="search">
    <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
        <input type="text" name="user_query" placeholder="Search..">
        <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
    </form>
    <!-- <button class="filter-btn d-none">
        <img src="images/filter-square.png" alt="filter button">
    </button> -->
</div>
</div>


<div class="card">
    <div class="card-wrapper">
        <div class="card-header">
            <div class="user-profile">
                <div class="user-img">
                    <img src="{{problem.user.userprofile.profile_picture.url}}">
                </div>
                <p class="username">{{problem.user.full_name|capfirst}} </p>
            </div>
            <div class="post-location">
                 <img src="{% static 'images/card/Pindrop.png' %}" alt=""><span class="text-fix">{{problem.location}}</span>
            </div>
            <div class="eco-cat">
                <p class="text-fix">Eco Community: <a href="">{{problem.category}}</a></p>
            </div>
            <div class="goal">
                <p class="text-fix">UNSdg Goal: </p><span>{{problem.title}}</span>
            </div>
        </div>
        <hr>
        <div class="card-details">
            <p>{{problem.description}}</p>
            <div class="detail-img">
                <img style="border-radius: 8px;" src="{{problem.problem_photo_main.url}}" alt="" class="first">
                <div class="second">
                    {% if problem.problem_photo_1 == "" %}
                   
                    {% else %}
                    <img style="border-radius: 8px; margin-bottom:5px;" src="{{problem.problem_photo_1.url}}" alt="">
                    {% endif %}
                    {% if problem.problem_photo_2 == "" %}

                    {% else %}
                    <img style="border-radius: 8px;" src="{{problem.problem_photo_2.url}}" alt="">

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="up-count" hx-get="{% url 'ecoplatform:upvotes' problem.id %}">
                <img src="{% static 'images/card/upvote.png' %}" alt="">
                <span hx-get="{% url 'ecoplatform:upvotes_count' problem.id %}" hx-trigger="every 1s">{{ problem.upvotes.count }}</span>
            </button>
            <button class="down-count" hx-get="{% url 'ecoplatform:downvotes' problem.id %}">
                <img src="{% static 'images/card/downvote.png' %}" alt="">
                <span hx-get="{% url 'ecoplatform:downvotes_count' problem.id %}" hx-trigger="every 1s">{{ problem.downvotes.count }}</span>
            </button>
            <a href="{% url 'ecoplatform:add_comment_to_problem' problem.pk %}">
                <button class="idea-count">
                    <img src="{% static 'images/card/idea.png' %}" alt="">
                    <span>{{ problem.comments.count }}</span>
                </button>
            </a>
            
              
        
            <a href="{% url 'ecoplatform:problem-detail' problem.id %}" class="card-link">
                Link to problem
            </a>
        </div>

        <div class="comment-section">
            <div class="date-posted">
                <p>Posted: <span>{{problem.created}}</span></p>
            </div>
            <hr>
            {% for comment in comments %}
                <div class="comment-card">
                    <div class="comment-wrapper">
                        <div class="comment-header">
                            <div class="user-profile">
                                <div class="user-img">
                                    <img src="{{comment.user.userprofile.profile_picture.url}}" alt="" style="width:25px; height:25px">
                                </div>
                                <p class="username">{{comment.user.full_name}}</p>
                            </div>
                            <div class="date-posted">
                                <p>Posted: <span>{{comment.created}}</span></p>
                            </div>
                        </div>
                        <div class="comment-text">
                            <p>{{comment.text}}</p>
                        </div>
                        <div class="comment-footer">
                            <button class="up-count" onclick="likeComment({{ comment.id }})">
                                <img src="{% static 'images/card/upvote.png' %}" alt="">
                                <span id="likes-count-{{ comment.id }}">{{ comment.likes.count }}</span>
                            </button>
                            <button class="down-count" onclick="dislikeComment({{ comment.id }})">
                                <img src="{% static 'images/card/downvote.png' %}" alt="">
                                <span id="dislikes-count-{{ comment.id }}">{{ comment.dislikes.count }}</span>
                            </button>
                        </div>
                        
                        
                        
                    </div>
                </div>

                {% empty %}
                <p style="font-size:16px; font-weight:500; margin:10px;">Be the first to comment or drop an idea....</p>
            {% endfor %}
            
        </div>

    </div>

</div>
<script>
    function likeComment(commentId) {
        $.ajax({
            url: "{% url 'ecoplatform:like-comment' 0 %}".replace('0', commentId),
            type: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function(response) {
                var likesCount = response.likes_count;
                var dislikesCount = response.dislikes_count;
                var likesSpan = $("#likes-count-" + commentId);
                var dislikesSpan = $("#dislikes-count-" + commentId);
                likesSpan.text(likesCount);
                dislikesSpan.text(dislikesCount);
            }
        });
    }
    
    function dislikeComment(commentId) {
        $.ajax({
            url: "{% url 'ecoplatform:dislike-comment' 0 %}".replace('0', commentId),
            type: "POST",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function(response) {
                var likesCount = response.likes_count;
                var dislikesCount = response.dislikes_count;
                var likesSpan = $("#likes-count-" + commentId);
                var dislikesSpan = $("#dislikes-count-" + commentId);
                likesSpan.text(likesCount);
                dislikesSpan.text(dislikesCount);
            }
        });
    }
    
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


{% endblock contents %}