{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}<title>Eco Problems </title> {% endblock title %}
{% block contents %}

<h5>Problems Posted on The ECO</h5>
            
<div class="search">
    <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
        <input type="text" name="user_query" placeholder="Search..">
        <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
    </form>
    <!-- <button class="filter-btn d-none">
        <img src="images/filter-square.png" alt="filter button">
    </button> -->
</div>
</div>
<aside class="mob-cat" id="">
    <div class="cat-wrapper">
        <h5>Category</h5>
    <form class="radio">
        <div>
            <label for="All">All</label>
            <input type="radio" name="category" id="All" value="" {% if not selected_category %}checked{% endif %}>
        </div>
        {% for category in categories %}
        <div>
            <label for="{{ category.slug }}">{{ category.name }}</label>
            <input type="radio" name="category" id="{{ category.slug }}" value="{{ category.slug }}" {% if selected_category == category.slug %}checked{% endif %}>
        </div>
        {% endfor %}
    </form>

    <h5>Based on location</h5>
    <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
        <input type="text" name="location_query" placeholder="Enter search location..">
        <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
    </form>
    <h5>Based on host</h5>
    <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
        <input type="text" name="user_query" placeholder="Search host name..">
        <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
    </form>

    </div>
</aside>
<div class="add-problems-btn">
    <a href="{% url 'ecoplatform:add-problem' %}">Add Problem</a>
</div>
{% if problems %}
{% for problem in problems %}
 <div class="card">
    <div class="card-wrapper">
        <div class="card-header">
            <div class="post-location">
                {{problem.user.first_name|capfirst}} |  <img src="{% static 'images/card/Pindrop.png' %}" alt=""><span class="text-fix">{{problem.location}}</span>
            </div>
            <div class="eco-cat">
                <p class="text-fix">Eco Community: <a href="">{{problem.category}}</a></p>
            </div>
            <div class="goal">
                <p class="text-fix">UNSdg Goal: </p><span>{{problem.title}}</span>
            </div>
        </div>
        <hr>
        <div class="card-details">
            <p>{{problem.description|truncatechars_html:500}}</p>
            <div class="detail-img">
                <img style="border-radius: 8px;" src="{{problem.problem_photo_main.url}}" alt="" class="first">
                <div class="second">
                    {% if problem.problem_photo_1 == "" %}

                    {% else %}
                    <img style="border-radius: 8px; margin-bottom:5px;" src="{{problem.problem_photo_1.url}}" alt="">
                    {% endif %}
                    {% if problem.problem_photo_2 == "" %}
                    
                    {% else %}
                    <img style="border-radius: 8px;" src="{{problem.problem_photo_2.url}}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="up-count" hx-get="{% url 'ecoplatform:upvotes' problem.id %}">
                <img style="width:28px; height:28px;" src="{% static 'images/card/upvote.png' %}" alt="">
                <span hx-get="{% url 'ecoplatform:upvotes_count' problem.id %}" hx-trigger="every 1s">{{ problem.upvotes.count }}</span>
            </button>
            <button class="down-count" hx-get="{% url 'ecoplatform:downvotes' problem.id %}">
                <img style="width:28px; height:28px;" src="{% static 'images/card/downvote.png' %}" alt="">
                <span hx-get="{% url 'ecoplatform:downvotes_count' problem.id %}" hx-trigger="every 1s">{{ problem.downvotes.count }}</span>
            </button>
            <a href="{% url 'ecoplatform:add_comment_to_problem' problem.pk %}">
                <button class="idea-count">
                    <img style="width:28px; height:28px;" src="{% static 'images/card/idea.png' %}" alt="">
                    <span>{{ comments|dict_get:problem.id|default:0 }}<span>
                </button>
            </a>
        
            <a href="{% url 'ecoplatform:problem-detail' problem.id %}" class="card-link">
                View problem
            </a>
        </div>
    </div>

</div>
{% endfor %}

{% else %}
<p style="text-align:center">No posted problem for query</p>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.upvote-btn').click(function(e) {
          e.preventDefault();
          var category = $(this).data('category');
          var post_id = $(this).data('post_id');
          var upvoteurl = $(this).data('upvoteurl');
          var downvoteurl = $(this).data('downvoteurl');
          var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
            type: 'POST',
            url: upvoteurl,
            data: {
              'post_id': post_id,
              'category': category,
              'csrfmiddlewaretoken': csrfmiddlewaretoken
            },
            success: function(response) {
              $('.upvote-count').html(response['upvotes']);
              $('.downvote-count').html(response['downvotes']);
            },
            error: function(response) {
              console.log(response);
            }
          });
        });
      
        $('.downvote-btn').click(function(e) {
          e.preventDefault();
          var category = $(this).data('category');
          var post_id = $(this).data('post_id');
          var upvoteurl = $(this).data('upvoteurl');
          var downvoteurl = $(this).data('downvoteurl');
          var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
          $.ajax({
            type: 'POST',
            url: downvoteurl,
            data: {
              'post_id': post_id,
              'category': category,
              'csrfmiddlewaretoken': csrfmiddlewaretoken
            },
            success: function(response) {
              $('.upvote-count').html(response['upvotes']);
              $('.downvote-count').html(response['downvotes']);
            },
            error: function(response) {
              console.log(response);
            }
          });
        });
      });
      
      
</script>

  
<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    radioButtons.forEach(button => {
        button.addEventListener('change', event => {
            const form = event.target.closest('form');
            form.submit();
        });
    });
</script>


{% endblock contents %}