<!DOCTYPE html>
{% load static %}
<html lang="en">
    <script src="https://unpkg.com/htmx.org@1.8.6"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco webisite</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <!--Remix Icon CDN-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'scss/main.css' %}">


</head>

<body>

    {% block content %}{% endblock content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#category').on('change', function () {
                $(".data").hide();
                $("#" + $(this).val()).fadeIn(700);
            }).change();
        });
    </script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#ens').on('change', function () {
            $(".env").hide();
            $("#" + $(this).val()).fadeIn(700);
        }).change();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#co').on('change', function () {
            $(".cos").hide();
            $("#" + $(this).val()).fadeIn(700);
        }).change();
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#ca').on('change', function () {
            $(".cas").hide();
            $("#" + $(this).val()).fadeIn(700);
        }).change();
    });
</script>
</body>

</html> 