{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Eco Problems </title> {% endblock title %}
{% block content %}
<section class="main-content">
    <aside class="category">
        <div class="cat-wrapper">
            <h5>Category</h5>
            <form class="radio">
                <div>
                    <label for="All">All</label>
                    <input type="radio" name="category" id="All" value="" {% if not selected_category %}checked{% endif %}>
                </div>
                {% for category in categories %}
                <div>
                    <label for="{{ category.slug }}">{{ category.name }}</label>
                    <input type="radio" name="category" id="{{ category.slug }}" value="{{ category.slug }}" {% if selected_category == category.slug %}checked{% endif %}>
                </div>
                {% endfor %}
            </form>
    
            <h5>Based on location</h5>
            <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
                <input type="text" name="location_query" placeholder="Enter search location..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>
            <h5>Based on host</h5>
            <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
                <input type="text" name="user_query" placeholder="Search host name..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>
        </div>
    </aside>
    <main class="card-main">
        <div class="heading">
            <h5>Problems Posted on The ECO</h5>

            <div class="search">
                <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
                    <input type="text" name="user_query" placeholder="Search..">
                    <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form>
                <!-- <button class="filter-btn d-none">
                    <img src="images/filter-square.png" alt="filter button">
                </button> -->
            </div>
            
        </div>
        <aside class="mob-cat" id="">
            <div class="cat-wrapper">
                <h5>Category</h5>
            <form class="radio">
                <div>
                    <label for="All">All</label>
                    <input type="radio" name="category" id="All" value="" {% if not selected_category %}checked{% endif %}>
                </div>
                {% for category in categories %}
                <div>
                    <label for="{{ category.slug }}">{{ category.name }}</label>
                    <input type="radio" name="category" id="{{ category.slug }}" value="{{ category.slug }}" {% if selected_category == category.slug %}checked{% endif %}>
                </div>
                {% endfor %}
            </form>
    
            <h5>Based on location</h5>
            <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
                <input type="text" name="location_query" placeholder="Enter search location..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>
            <h5>Based on host</h5>
            <form class="cat-search" action="{% url 'ecoplatform:problem_list' %}">
                <input type="text" name="user_query" placeholder="Search host name..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>

            </div>
        </aside>
        {% if problems %}
        {% for problem in problems %}
         <div class="card">
            <div class="card-wrapper">
                <div class="card-header">
                    <div class="post-location">
                        {{problem.user.full_name|capfirst}} |  <img src="{% static 'images/card/Pindrop.png' %}" alt=""><span class="text-fix">{{problem.location}}</span>
                    </div>
                    <div class="eco-cat">
                        <p class="text-fix">Eco Community: <a href="">{{problem.category}}</a></p>
                    </div>
                    <div class="goal">
                        <p class="text-fix">UNSdg Goal: </p><img src="{% static 'images/card/eco.png' %}" alt="">
                    </div>
                </div>
                <hr>
                <div class="card-details">
                    <p>{{problem.description}}</p>
                    <div class="detail-img">
                        <img style="border-radius: 8px;" src="{{problem.problem_photo_main.url}}" alt="" class="first">
                        <div class="second">
                            <img style="border-radius: 8px; margin-bottom:5px;" src="{{problem.problem_photo_1.url}}" alt="">
                            <img style="border-radius: 8px;" src="{{problem.problem_photo_2.url}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                       <button class="up-count">
                        {% if msg %}
                            <i style="font-size:25px;" class="ri-thumb-up-fill"></i>
                        {% else %}
                            <i style="font-size:25px;" class="ri-thumb-up-line"></i>
                        {% endif %}
                            
                            <span class="num_of_upvotes" id='num'>{{problem.upvotes.count}}</span>
                        </button>
                        <button class="down-count">
                            <i style="font-size:25px;" class="ri-thumb-down-line"></i>
                            <span >456</span>
                        </button>
                
                
                    <button class="idea-count">
                        <img src="{% static 'images/card/idea.png' %}" alt="">
                        <span>456</span>
                    </button>

                    <a href="details-page.html" class="card-link">
                        Link to problem
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
        
        {% else %}
        <p style="text-align:center">No posted problem for query</p>
        {% endif %}
       
       

    </main>
</section>

<script>


    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
  
  
  
  
  
    let btn = document.querySelector("i")
    let num_of_likes = document.getElementById("num")
    let upvoted_problems_id = "{{upvoted_problems.id}}"
  
    btn.addEventListener("click", upvoteProblem)
  
    function upvoteProblem(e){
      let url = "{% url 'ecoplatform:upvote' %}"
      const data = {id:upvoted_problems_id}
  
      fetch(url, {
        method: 'POST',
        headers: {"Content-Type": "application/json",
        'X-CSRFToken': csrftoken
      },
        body : JSON.stringify(data)
      })
      .then(res => res.json())
      .then(data => {
        console.log(data)
  
        if(data["check"] == 1){
          btn.classList.remove("ri-thumb-up-line")
          btn.classList.add('ri-thumb-up-fill')
        }
  
        else if(data["check"] == 0){
          btn.classList.add("ri-thumb-up-line")
          btn.classList.remove('ri-thumb-up-fill')
        }
  
        else{
          alert("you need to login")
        }
  
        num_of_likes.innerHTML = data["num_of_upvotes"]

  
  
  
      })
  
  
    }
  
  </script>

<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    radioButtons.forEach(button => {
        button.addEventListener('change', event => {
            const form = event.target.closest('form');
            form.submit();
        });
    });
</script>


{% endblock content %}