{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Eco Projects </title> {% endblock title %}
{% block contents %}

 
    
 
            <h5>Projects Posted on The ECO</h5>
            <div class="search">
                <form class="cat-search" action="{% url 'ecoplatform:project_list' %}">
                    <input type="text" name="user_query" placeholder="Search..">
                    <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
                </form>
                <!-- <button class="filter-btn d-none">
                    <img src="assets/images/filter-square.png" alt="filter button">
                </button> -->
            </div>
        </div>

        <aside class="mob-cat" id="">
            <div class="cat-wrapper">
                <h5>Category</h5>
            <form class="radio">
                <div>
                    <label for="All">All</label>
                    <input type="radio" name="category" id="All" value="" {% if not selected_category %}checked{% endif %}>
                </div>
                {% for category in categories %}
                <div>
                    <label for="{{ category.slug }}">{{ category.name }}</label>
                    <input type="radio" name="category" id="{{ category.slug }}" value="{{ category.slug }}" {% if selected_category == category.slug %}checked{% endif %}>
                </div>
                {% endfor %}
            </form>
    
            <h5>Based on location</h5>
            <form class="cat-search" action="{% url 'ecoplatform:project_list' %}">
                <input type="text" name="location_query" placeholder="Enter search location..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>
            <h5>Based on host</h5>
            <form class="cat-search" action="{% url 'ecoplatform:project_list' %}">
                <input type="text" name="user_query" placeholder="Search description..">
                <button><img src="{% static 'images/category/search.png' %}" alt="search button"></button>
            </form>
            </div>
        </aside>
        
        <div class="add-problems-btn">
            <a href="{% url 'ecoplatform:add-project' %}">Add Project</a>
        </div>
        {% if projects %}
        {% for project in projects %}
        <div class="card">
            <div class="card-wrapper">
                <div class="card-header">
                    <div class="eco-cat">
                        <p class="text-fix2">Sponsor: <a href="">{{project.user.full_name}}</a></p>
                    </div>
                    <div class="post-location">
                        <img src="{% static 'images/card/Pindrop.png' %}" alt=""><span class="location">Ikeja,Lagos</span>
                    </div>
                    <div class="eco-cat">
                        <p class="text-fix2">Eco Categories: <a href="">{{project.category}}</a></p>
                    </div>
                    <div class="goal">
                        <p class="text-fix2">UNSdg Goal: </p><span>{{project.title}}</span>
                    </div>
                </div>
    
                <div class="card-details">
                    <p>{{project.description}}</p>
                </div>
    
                <div class="card-footer">
                    <p><b>Connect with the sponsor of the project:</b></p>
                    <a href="#"><img src="{% static 'images/card/project-card/linkedin.png' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/card/project-card/twitter.png' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/card/project-card/insta.png' %}" alt=""></a>
                    <a href="#"><img src="{% static 'images/card/project-card/gmail (2).png' %}" alt=""></a>
                </div>
    
            </div>
    
        </div>
        {% endfor %}
        {% else %}
        <p style="text-align:center">No projects found for this category.</p>
        {% endif %}
        


<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    radioButtons.forEach(button => {
        button.addEventListener('change', event => {
            const form = event.target.closest('form');
            form.submit();
        });
    });
</script>

{% endblock%}