$fontFamily: 'Nunito Sans', sans-serif;
$h1FontSize: clamp(1.7rem, 3vw, 3rem);
$h2FontSize: clamp(1.75rem, 4vw, 2.5rem);
$h3FontSize: clamp(1.5rem, 4vw, 2rem);
$h4FontSize: clamp(1.3rem, 2vw, 1.5rem);
$h5FontSize: 1.125em;
$bodyFontSize: 1em;
$primaryColor: rgba(29, 181, 89, 1);
$secondaryColor: rgba(46, 162, 207, 1);
$accentColor: rgba(246, 114, 24, 1);
$titleTextColor: rgba(4, 30, 14, 1);
$bodyTextColor: rgba(84, 84, 84, 1);
$transitionDuration: 0.3s;