{% load static %}
<nav>
    <div class="logo">
        <img src="{% static 'images/notification/logo 3(1).png' %}" alt="Eco logo">
    </div>
    <div class="nav-links toggler">
        <a href="index.html">Home</a>
        <a href="problems.html">The Eco<img src="{% static 'images/notification/arrowdown.png' %}" alt="arrow down"
                class="eco-img"></a>
        <a href="#">PAls App</a>
        <a href="#">Tech4Good</a>
        <a href="#">Services</a>
    </div>
    <div class="connect toggler skew">
        <a href="form.html" id="login1">Log In</a>
        <a href="form.html" id="create1">Create Account</a>
    </div>
    <div class="menu">
        <button><img src="{% static 'images/notification/more.png' %}" alt=""></button>
    </div>
</nav>
