{% autoescape off %}

Hi {{user.first_name}}, Welcome to the ECO Platform!

We're excited to welcome you to the ECO! Your email has been successfully verified, and you can now start sharing problems, ideas, and projects with other like-minded individuals in your local ECO community.


Update your profile.
http://{{domain}}{% url 'ecousers:dashboard'%}


Our platform is designed to help you connect with other individuals in your local community who share your passion for your local environment, community, and organization. Join the conversations happening in your local ECO community and start making a difference today!

Thank you for joining the ECO Platform, and we look forward to seeing you online!

Best regards,

The ECO Platform Team

{% endautoescape %}