
{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section class="form-content">
    <div class="form">
  
        <div class="form-wrapper">

            <h4 class="form-switch">Change Password? </h4>
            
            <div class="form-variables d-show">
                <form action="{% url 'ecousers:change_password' %}" method="POST">
                    {% csrf_token %}
                    <label>Current Password</label>
                    <div class="var-input">
                         <img src="{% static 'images/form/security-safe.png' %}" alt="">
                         <input type="password" name="current_password" id="pwrdHASHED" required>
                    </div>
					<span class="pswd-reveal--toggle"><i class="ri-eye-line"></i></span>

                    <label>New Password</label>
					<div class="var-input">
                         <img src="{% static 'images/form/security-safe.png' %}" alt="">
                        <input type="password" name="new_password" id="pwrdHASHED" required>
                    </div>
					<span class="pswd-reveal--toggle"><i class="ri-eye-line"></i></span>

                    <label>Confirm Password</label>
                    <div class="var-input">
                         <img src="{% static 'images/form/security-safe.png' %}" alt="">
                        <input type="password" name="confirm_password" id="pwrdHASHED" required>
					</div>

					<span class="pswd-reveal--toggle"><i class="ri-eye-line"></i></span>

                    

                    <div class="submit-btn">
                        <button>Change Password</button>
                        
                    </div>
                </form>

            </div>
    
        </div>
  
    </div>
    
    <div class="carousel-img">
        <img src="{% static 'images/form/test.png' %}" alt="hero image for eco website" class="hero-img
        ">
    </div>

</section>
  {% endblock content %}
      <!-- ========================= SECTION CONTENT END// ========================= -->