{% extends 'main.html' %}
{% load static %}
{% block title %} <title>User Profile | Problems</title> {% endblock title %}
{% block profile %}
{% include 'components/alerts.html' %}
<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }
    
    #overlay.open {
        opacity: 1;
        pointer-events: all;
    }
    
    .project_modal--wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 90%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }
    
    .project_modal--wrapper h5 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
    }
    
    .project_modal--wrapper p {
        font-size: 16px;
        margin: 20px 0;
    }
    
    .project_modal--wrapper.open {
        opacity: 1;
        pointer-events: all;
    }
    
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
</style>
    <section class="main-content">
        <aside class="profile">
            <div class="profile--card">
                <img
                    class="profile--img"
                    src="{{userprofile.profile_picture.url}}"
                    alt="user profile image"
                />
                <div class="user--info">
                    <h4 class="username" id="name">{{user.full_name}}</h4>

                    <p class="user-role" id="role">community ambassador</p>
                </div>
                <div class="user-contact">
                    <p class="user-email" id="email">{{user.email}}</p>
                    <p class="user-mobile" id="mobile">{{user.phone_number}}</p>
                </div>
                <a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
                    <img
                        src="/assets/icons/edit.svg"
                        class="icon"
                        alt=""
                        aria-hidden="true"
                    />
                    <span>edit profile</span>
                </a>
            </div>
            <button class="ambassador-btn">
                <img
                    src="/assets/icons/star.svg"
                    class="icon"
                    alt=""
                    aria-hidden="true"
                />
                <span>Become an ambassador</span>
            </button>
            <div class="account-action">
                <a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
                <a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
            </div>
        </aside>
        <main class="card-main">
            <section class="profile--nav">
                <a href="{% url 'ecousers:dashboard' %}" class="profile--nav-link active"
                    >problems</a
                >
                <a href="{% url 'ecousers:user_project' %}" class="profile--nav-link"
                    >projects</a
                >
                <a href="{% url 'ecousers:user_ideas' %}" class="profile--nav-link">ideas</a>

                <button class="profile--nav-link search-btn">
                    <img
                        class="search-icon"
                        src="{% static 'images/category/search.png' %}"
                        alt="search button"
                    />
                </button>
            </section>
            <section class="stats">
                <h5 class="stats-heading">
                    Problems posted <span id="problem_count">({{problems_count}})</span>
                </h5>
                <div class="stats--wrapper">
                    <span class="stats--com">70%</span>
                    <span class="stats--org">20%</span>
                    <span class="stats--env">10%</span>
                </div>
                <div class="stats--legend">
                    <div class="legend--wrapper">
                        <div class="legend--item env"></div>
                        <span class="legend-label">environment</span>
                    </div>
                    <div class="legend--wrapper">
                        <div class="legend--item com"></div>
                        <span class="legend-label">community</span>
                    </div>
                    <div class="legend--wrapper">
                        <div class="legend--item org"></div>
                        <span class="legend-label">organization</span>
                    </div>
                </div>
            </section>
            {% for problem in problems %}
            <div class="card">
                <div class="card-wrapper">
                    <div class="card-header">

                        <div class="eco-cat card-header--item">
                            <p class="text-fix">
                                Eco Category: <a class="category-tag" href="">{{problem.category}}</a>
                            </p>
                        </div>
                        <div class="goal card-header--item">
                            <p class="text-fix">UNSdg Goal:</p>
                            <img class="icon" src="{% static 'images/card/eco.png' %}" alt="" />
                        </div>
                    </div>
                    <hr />
                    <div class="card-details">
                        <p>
                            {{problem.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'ecoplatform:edit_problem' problem_id=problem.id %}" class="secondary-btn">


                            <img
                                src="{% static 'icons/edit.svg' %}"
                                class="icon"
                                alt=""
                                aria-hidden="true"
                            />
                            <span>Edit problem</span>
                        </a>
                        <section class="project-page" id="root">
                            <article class="project_modal--wrapper">
                                <a href="{% url 'ecousers:dashboard' %}"><img src="{% static 'images/project-modal/close-btn.png' %}" alt="" class="close-btn"></a>
                                
                                <p style="font-size:15px;">Are you sure you want to delete this problem?</p>
                                <form id="delete-form" action="{% url 'ecousers:problem_delete' problem.slug %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn" style="background-color:red;">Delete</button>
                                    
                                </form>
                            </article>
                            
                            <button id="delete-btn" class="danger-btn">
                                <img src="{% static 'icons/trash.svg' %}" alt="delete problem" class="trash-icon icon" />
                                <span>Delete problem</span>
                            </button>
                            
                            <div id="overlay"></div>
                        </section>
                        

                        
                    </div>
                </div>
            </div>
            {% empty %}
            <p style="text-align:center; margin:5px;"> You have'nt posted a problem</p>
            {% endfor %}
            
        </main>
        <aside class="sidebar form"></aside>
    </section>

    <script src="{% static 'js/nav.js' %}" defer></script>
    <script>
        const deleteBtn = document.querySelector('#delete-btn');
        const modalWrapper = document.querySelector('.project_modal--wrapper');
        const overlay = document.querySelector('#overlay');
        
        deleteBtn.addEventListener('click', (event) => {
            event.preventDefault();
            modalWrapper.classList.add('open');
            overlay.classList.add('open');
        });
        
        overlay.addEventListener('click', () => {
            modalWrapper.classList.remove('open');
            overlay.classList.remove('open');
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock profile %}