<section class="section-conten padding-y bg">


    <div class="container">
        <div class="row">
       
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as:</strong>
                <span>{{user.full_name}}</span>
                <a href="{% url 'ecousers:logout' %}" style="background-color: green; padding: 20px; margin: 20px; color: white; font-weight: 600;">Logout</a>
            </header>
            <div class="card-body">
                <div class="row">
    
                <div class="col-md-6">
                    <div class="card" style="text-align:center;">
                        <div class="card-body">
                            <h5 class="card-title">Total Projects Posted</h5>
                            <h4>{{projects_count}}</h4>
                            <p><a href={% url 'ecoplatform:project_list'  %}>View allprojects here...</a></p>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Total Problems Posted</h5>
                            <h4>{{problems_count}}</h4>
                            <p><a href={% url 'ecoplatform:problem_list'  %}>View all problems here...</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="text-align:center;">
                        <div class="card-body">
                            <img src="{{userprofile.profile_picture.url}}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                            <p class="mb-0">Email Address: {{user.email}}</p>
                            <p>Phone Number: {{user.phone_number}}</p>
                        </div>
                        <a  style="background-color: black; padding: 20px; margin: 100px; color: white; font-weight: 600;" href="{% url 'ecousers:edit_profile' %}" > Edit Profile </a>
                        <a style="background-color: blue; padding: 20px; margin: 100px; color: white; font-weight: 600;" href="{% url 'ecousers:change_password' %}"> Change Password </a>
                    </div>
                </div>
    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
    
            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>