{% extends 'main.html' %}
{% load static %}
{% block title %}<title>Edit Profile</title>{% endblock title %}
{% block content %}
{% include 'components/alerts.html' %}

<section class="main-content">
	<aside class="profile display-on-desktop">
		<div class="profile--card">
			<img
				class="profile--img"
				src="{{userprofile.profile_picture.url}}"
				alt="user profile image"
			/>
			<div class="user--info">
				<h4 class="username" id="name">{{user.full_name}}</h4>

				<p class="user-role" id="role">community ambassador</p>
			</div>
			<div class="user-contact">
				<p class="user-email" id="email">{{user.email}}</p>
				<p class="user-mobile" id="mobile">{{user.phone_number}}</p>
			</div>
			<a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
				<img
					src="/assets/icons/edit.svg"
					class="icon"
					alt=""
					aria-hidden="true"
				/>
				<span>edit profile</span>
			</a>
		</div>
		<button class="ambassador-btn">
			<img
				src="/assets/icons/star.svg"
				class="icon"
				alt=""
				aria-hidden="true"
			/>
			<span>Become an ambassador</span>
		</button>
		<div class="account-action">
			<a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
			<a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
		</div>
	</aside>
	<main class="card-main profile-edit">
		<section class="profile--nav">
			<p class="profile--nav-link">Edit Profile</p>
		</section>
		<section class="profile-edit--container">
			<form action="{% url 'ecousers:edit_profile' %}" method="POST" enctype="multipart/form-data" class="card edit-form">
				{% csrf_token %}
				<label class="user-avatar--container">
					<img
						class="user-avatar--img"
						src="{{userprofile.profile_picture.url}}"
						alt="profile avatar"
						aria-hidden="true"
					/>
					<span class="user-avatar">
						{{profile_form.profile_picture}}
						<img
							class="user-avatar--icon"
							src="{% static 'images/form/edit-no-bg.svg' %}"
							alt=""
						/>
					</span>
				</label>

				<label for="Email">First name</label>
				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/sms.png"
						alt=""
					/>
					{{user_form.first_name}}
				</div>

				<label for="fullName">Last Name</label>
				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/profile.png"
						alt=""
					/>
					{{user_form.last_name}}
				</div>

				<label for="phoneNumber">Phone Number</label> <br />
				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/call.svg"
						alt=""
					/>
					{{user_form.phone_number}}
				</div>
				<label for="location">Address 1</label> <br />

				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/location.svg"
						alt=""
					/>
					{{profile_form.address_line_1}}
				</div>

				<label for="location">Address 2 (Optional)</label> <br />

				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/location.svg"
						alt=""
					/>
					{{profile_form.address_line_2}}
				</div>

				<label for="location">City</label> <br />

				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/location.svg"
						alt=""
					/>
					{{profile_form.city}}
				</div>

				<label for="location">City</label> <br />

				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/location.svg"
						alt=""
					/>
					{{profile_form.state}}
				</div>

				<label for="location">City</label> <br />

				<div class="var-input">
					<img
						class="input-icon"
						src="assets/images/form/location.svg"
						alt=""
					/>
					{{profile_form.country}}
				</div>

				<div class="submit-btn">
					<button type="submit">Save Changes</button>
				</div>
			</form>
		</section>
	</main>
	<aside class="sidebar form"></aside>
</section>
{% endblock content %}