
{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Eco website | Forgot Password</title>{% endblock title %}
{% block content %}



  <section class="form-content">
    <div class="form">
  
        <div class="form-wrapper">

            <h4 class="form-switch">Forgot Password? </h4>
            
            <div class="form-variables d-show" id="Login">
                <form action="{% url 'ecousers:forgotPassword' %}" method="POST">
                    {% csrf_token %}
                    <label>Email Address</label>
                    <div class="var-input">
                        <img src="{% static 'images/form/sms.png' %}" alt="">
                        <input type="email" name="email" required>
                    </div>

                    

                    <div class="submit-btn">
                        <button>Reset Password</button>
                        
                    </div>
                </form>

                <p>Confirm Password? <a href="{% url 'ecousers:login' %}"> Login</a></p>
            </div>
    
        </div>
  
    </div>
    
    <div class="carousel-img">
        <img src="{% static 'images/form/test.png' %}" alt="hero image for eco website" class="hero-img
        ">
    </div>

</section>
  {% endblock content %}
      <!-- ========================= SECTION CONTENT END// ========================= -->