{% extends 'main.html' %}
{% block title %}<title>Eco website | Reset Password Confirm</title>{% endblock title %}
{% load static %}


{% block content %}
    <section class="form-content">
        <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:50px;">
            <p style="text-align:center; font-size: 120px; color: #32d272;"><i class="ri-checkbox-circle-fill"></i></p>
            <h2 style="text-align:center;">Reset Password Complete</h2> 
            <br><br>
            
            <p>Your password has been set successfully, you can now <a style="color: #32d272; font-weight:bold;" href="{% url 'ecousers:login' %}" id="login1">Login</a></p>
                
            
        
        </div>
    </section>
    {% include 'components/alerts.html' %}
{% endblock content %}