{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}<title>Eco website | Register </title>{% endblock title %}

{% block content %}

  <section class="form-content">
    <div class="form">
        <div class="form-wrapper">
          <div class="form-switch">
            <button class="" id="loginBtn"><a href="{% url 'ecousers:login' %}">Log in</a></button>
            <button class="active" id="signUpBtn"><a href="{% url 'ecousers:register' %}">Sign Up</a></button>
          </div>
            <hr>
            <p class="form-switch">continue to your account using</p>
            <div class="options">
                {% comment %} <a href=""><img src="{% static 'images/form/logos_linkedin-icon.png' %}" alt=""></a> {% endcomment %}
                <a href="{% provider_login_url 'google'%}?next=/"><img src="{% static 'images/form/Google svg.png' %}" alt=""></a>
                {% comment %} <a href=""><img src="{% static 'images/form/Twitter svg.png' %}" alt=""></a> {% endcomment %}
            </div>
          
             <div class="form-variables" id="Register">
              <form action="{% url 'ecousers:register' %}" method="POST">
                {% csrf_token %}
                    <label>First Name</label>
                    <div class="var-input">
                        <img src="{% static 'images/form/profile.png' %}" alt="">
                        {{ form.first_name }}
                    </div>
                    <label>Last Name</label>
                    <div class="var-input">
                        <img src="{% static 'images/form/profile.png' %}" alt="">
                        {{ form.last_name }}
                    </div>
                    <label>Email Address</label>
                    <div class="var-input">
                        <img src="{% static 'images/form/sms.png' %}" alt="">
                        {{form.email}}
                    </div>

                    <label>Phone Number</label>
                    <div class="var-input">
                        <img src="{% static 'images/form/sms.png' %}" alt="">
                        {{form.phone_number}}
                    </div>

                    <label>Password</label> <br>
                    <div class="var-input">
                        <img src="{% static 'images/form/security-safe.png' %}" alt="">
                        {{form.password}}
                    </div>

                    <label>Confirm Password</label> <br>
                    <div class="var-input">
                        <img src="{% static 'images/form/security-safe.png' %}" alt="">
                        {{ form.confirm_password}}
                    </div>

                    <div class="submit-btn">
                        <button type="submit">Create Account</button>
                    </div>
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                </form>

                <p>Already have an account? <a href="{% url 'ecousers:login' %}">Login to your portal.</a></p>
            </div> 
        </div>
       
    </div>
    
    <div class="carousel-img">
        <img src="{% static 'images/form/test.png' %}" alt="hero image for eco website" class="hero-img
        ">
    </div>
    {% include 'components/alerts.html' %}
</section>
  {% endblock content %}
      <!-- ========================= SECTION CONTENT END// ========================= -->
