{% extends 'main.html' %}
{% load static %}
{% block title %} <title>User Profile | Problems</title> {% endblock title %}
{% block profile %}
{% include 'components/alerts.html' %}
    <section class="main-content">
        <aside class="profile">
            <div class="profile--card">
                <img
                    class="profile--img"
                    src="{{userprofile.profile_picture.url}}"
                    alt="user profile image"
                />
                <div class="user--info">
                    <h4 class="username" id="name">{{user.full_name}}</h4>

                    <p class="user-role" id="role">community ambassador</p>
                </div>
                <div class="user-contact">
                    <p class="user-email" id="email">{{user.email}}</p>
                    <p class="user-mobile" id="mobile">{{user.phone_number}}</p>
                </div>
                <a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
                    <img
                        src="/assets/icons/edit.svg"
                        class="icon"
                        alt=""
                        aria-hidden="true"
                    />
                    <span>edit profile</span>
                </a>
            </div>
            <button class="ambassador-btn">
                <img
                    src="/assets/icons/star.svg"
                    class="icon"
                    alt=""
                    aria-hidden="true"
                />
                <span>Become an ambassador</span>
            </button>
            <div class="account-action">
                <a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
                <a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
            </div>
        </aside>
        <main class="card-main">
            <section class="profile--nav">
                <a href="{% url 'ecousers:dashboard' %}" class="profile--nav-link"
                    >problems</a
                >
                <a href="{% url 'ecousers:user_project' %}" class="profile--nav-link"
                    >projects</a
                >
                <a href="{% url 'ecousers:user_ideas' %}" class="profile--nav-link active">ideas</a>

                <button class="profile--nav-link search-btn">
                    <img
                        class="search-icon"
                        src="{% static 'images/category/search.png' %}"
                        alt="search button"
                    />
                </button>
            </section>
            <section class="profile-ideas--container">
                <p class="ideas-heading display-on-desktop">
                    Link to where the problem was dropped
                </p>
                
                {% for comment in comments %}
                <div class="card">
                    <div class="card-wrapper">
                        <div class="card-header">
                            
                            <div class="post-date card-header--item">
                                <span class="text-fix">Posted: </span>
                                <span class="idea-date">{{comment.created}}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="card-details">
                            <p>
                                {{comment.text}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'ecousers:edit_comment' comment.id %}" class="secondary-btn">
                                <img src="{% static 'icons/edit.svg' %}" class="icon" alt="" aria-hidden="true" />
                                <span>Edit idea</span>
                            </a>
                            
                            <form id="delete-comment-form-{{ comment.id }}" method="POST" action="{% url 'ecousers:delete_comment' comment.id %}">
                                {% csrf_token %}
                                <button type="submit" class="danger-btn" onclick="confirmDelete(event, {{ comment.id }})">
                                    <img src="{% static 'icons/trash.svg' %}" alt="delete comment" class="trash-icon icon">
                                    Delete comment
                                </button>
                            </form>
                            
                            
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </section>
            
            
        </main>
        <aside class="sidebar form"></aside>
    </section>

    <script src="{% static 'js/nav.js' %}" defer></script>
    <script>
        function confirmDelete(event, commentId) {
            event.preventDefault();
            if (confirm("Are you sure you want to delete this comment?")) {
                document.getElementById("delete-comment-form-" + commentId).submit();
            }
        }
        </script>
    {% endblock profile %}