{% extends 'main.html' %}
{% load static %}
{% block title %} <title>User Profile | Problems</title> {% endblock title %}
{% block profile %}
{% include 'components/alerts.html' %}
<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }
    
    #overlay.open {
        opacity: 1;
        pointer-events: all;
    }
    
    .project_modal--wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: 90%;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
    }
    
    .project_modal--wrapper h5 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
    }
    
    .project_modal--wrapper p {
        font-size: 16px;
        margin: 20px 0;
    }
    
    .project_modal--wrapper.open {
        opacity: 1;
        pointer-events: all;
    }
    
    .project_modal--wrapper .btn {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .project_modal--wrapper .btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;
    }
    
    .project_modal--wrapper .btn-danger:hover {
        background-color: #c82333;
    }
    
    .project_modal--wrapper .btn-secondary {
        background-color: #eee;
        color: #333;
        border: none;
    }
    
    .project_modal--wrapper .btn-secondary:hover {
        background-color: #ccc;
    }
</style>

    <section class="main-content">
        <aside class="profile">
            <div class="profile--card">
                <img
                    class="profile--img"
                    src="{{userprofile.profile_picture.url}}"
                    alt="user profile image"
                />
                <div class="user--info">
                    <h4 class="username" id="name">{{user.full_name}}</h4>

                    <p class="user-role" id="role">community ambassador</p>
                </div>
                <div class="user-contact">
                    <p class="user-email" id="email">{{user.email}}</p>
                    <p class="user-mobile" id="mobile">{{user.phone_number}}</p>
                </div>
                <a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
                    <img
                        src="/assets/icons/edit.svg"
                        class="icon"
                        alt=""
                        aria-hidden="true"
                    />
                    <span>edit profile</span>
                </a>
            </div>
            <button class="ambassador-btn">
                <img
                    src="/assets/icons/star.svg"
                    class="icon"
                    alt=""
                    aria-hidden="true"
                />
                <span>Become an ambassador</span>
            </button>
            <div class="account-action">
                <a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
                <a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
            </div>
        </aside>
        <main class="card-main">
            <section class="profile--nav">
                <a href="{% url 'ecousers:dashboard' %}" class="profile--nav-link"
                    >problems</a
                >
                <a href="{% url 'ecousers:user_project' %}" class="profile--nav-link"
                    >projects</a
                >
                <a href="{% url 'ecousers:user_ideas' %}" class="profile--nav-link active">ideas</a>

                <button class="profile--nav-link search-btn">
                    <img
                        class="search-icon"
                        src="{% static 'images/category/search.png' %}"
                        alt="search button"
                    />
                </button>
            </section>
            <section class="profile-ideas--container">
                <p class="ideas-heading display-on-desktop">
                    Link to where the problem was dropped
                </p>
                
                {% for comment in comments %}
                <div class="card">
                    <div class="card-wrapper">
                        <div class="card-header">
                            
                            <div class="post-date card-header--item">
                                <span class="text-fix">Posted: </span>
                                <span class="idea-date">{{comment.created}}</span>
                            </div>
                        </div>
                        <hr />
                        <div class="card-details">
                            <p>
                                {{comment.text}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'ecousers:edit_comment' comment.id %}" class="secondary-btn">
                                <img src="{% static 'icons/edit.svg' %}" class="icon" alt="" aria-hidden="true" />
                                <span>Edit idea</span>
                            </a>
                            
                          
                            <button type="button" class="danger-btn" data-comment-id="{{ comment.id }}">
                                <img src="{% static 'icons/trash.svg' %}" alt="delete comment" class="trash-icon icon">
                                Delete comment
                            </button>
                            
                            <section class="project-page" id="root">
                                <article class="project_modal--wrapper">
                                    <a href="{% url 'ecousers:user_ideas' %}" class="close-btn"><img src="{% static 'images/project-modal/close-btn.png' %}" alt=""></a>
                                    <p style='font-size:18px'>Are you sure you want to delete this comment?</p>
                                    <form id="delete-comment-form-{{ comment.id }}" method="POST" action="{% url 'ecousers:delete_comment' comment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn" style="background-color:red;">Delete</button>
                                    </form>
                                </article>
                                <div id="overlay"></div>
                            </section>
                            
                            
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </section>
            
            
        </main>
        <aside class="sidebar form"></aside>
    </section>

    <script src="{% static 'js/nav.js' %}" defer></script>
    <script>
        const deleteBtns = document.querySelectorAll('.danger-btn[data-comment-id]');
        const modalWrapper = document.querySelector('.project_modal--wrapper');
        const overlay = document.querySelector('#overlay');
        let commentId = null;
        
        deleteBtns.forEach((deleteBtn) => {
            deleteBtn.addEventListener('click', (event) => {
                event.preventDefault();
                commentId = deleteBtn.dataset.commentId;
                modalWrapper.classList.add('open');
                overlay.classList.add('open');
                const form = document.querySelector('#delete-comment-form-' + commentId);
                form.action = form.action.replace('comment_id', commentId);
            });
        });
        
        const cancelBtn = document.querySelector('.close-btn');
        
        cancelBtn.addEventListener('click', () => {
            modalWrapper.classList.remove('open');
            overlay.classList.remove('open');
        });
        
        overlay.addEventListener('click', () => {
            modalWrapper.classList.remove('open');
            overlay.classList.remove('open');
        });
        

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    {% endblock profile %}