{% extends 'main.html' %}
{% load static %}
{% block title %} <title>User Profile | Problems</title> {% endblock title %}
{% block profile %}
{% include 'components/alerts.html' %}
    <section class="main-content">
        <aside class="profile">
            <div class="profile--card">
                <img
                    class="profile--img"
                    src="{{userprofile.profile_picture.url}}"
                    alt="user profile image"
                />
                <div class="user--info">
                    <h4 class="username" id="name">{{user.full_name}}</h4>

                    <p class="user-role" id="role">community ambassador</p>
                </div>
                <div class="user-contact">
                    <p class="user-email" id="email">{{user.email}}</p>
                    <p class="user-mobile" id="mobile">{{user.phone_number}}</p>
                </div>
                <a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
                    <img
                        src="/assets/icons/edit.svg"
                        class="icon"
                        alt=""
                        aria-hidden="true"
                    />
                    <span>edit profile</span>
                </a>
            </div>
            <button class="ambassador-btn">
                <img
                    src="/assets/icons/star.svg"
                    class="icon"
                    alt=""
                    aria-hidden="true"
                />
                <span>Become an ambassador</span>
            </button>
            <div class="account-action">
                <a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
                <a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
            </div>
        </aside>
        <main class="card-main">
            <section class="profile--nav">
                <a href="{% url 'ecousers:dashboard' %}" class="profile--nav-link"
                    >problems</a
                >
                <a href="{% url 'ecousers:user_project' %}" class="profile--nav-link"
                    >projects</a
                >
                <a href="{% url 'ecousers:user_ideas' %}" class="profile--nav-link active">ideas</a>

                <button class="profile--nav-link search-btn">
                    <img
                        class="search-icon"
                        src="{% static 'images/category/search.png' %}"
                        alt="search button"
                    />
                </button>
            </section>
            <section class="profile-ideas--container">
                <p class="ideas-heading display-on-desktop">
                    Link to where the problem was dropped
                </p>

                <div class="card">
                    <div class="card-wrapper">
                        <div class="card-header">
                            
                            <div class="post-date card-header--item">
                                <span class="text-fix">Posted: </span>
                                <span class="idea-date">11:34pm 02mar,2024</span>
                            </div>
                        </div>
                        <hr />
                        <div class="card-details">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                                minus delectus aliquam optio sunt ab. Explicabo magnam
                                natus, eius officia et perferendis, aperiam molestiae libero
                                numquam maxime ab dolorum hic. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Molestias odit obcaecati
                                libero ex rerum voluptates quibusdam at veritatis iure.
                                Dolorem maxime fugiat omnis dolorum excepturi quaerat itaque
                                facilis tempora natus!
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="details-page.html" class="secondary-btn">
                                <img
                                    src="{% static 'icons/edit.svg' %}"
                                    class="icon"
                                    alt=""
                                    aria-hidden="true"
                                />
                                <span>Edit idea</span>
                            </a>
                            <button class="danger-btn">
                                <img
                                    src="{% static 'icons/trash.svg' %}"
                                    alt="delete problem"
                                    class="trash-icon icon"
                                />
                                <a href="#">Delete idea</a>
                            </button>
                        </div>
                    </div>
                </div>
                
            </section>
            
            
        </main>
        <aside class="sidebar form"></aside>
    </section>

    <script src="{% static 'js/nav.js' %}" defer></script>
    {% endblock profile %}