{% extends 'main.html' %}
{% load static %}
{% block title %} <title>User Profile | Problems</title> {% endblock title %}
{% block profile %}
{% include 'components/alerts.html' %}
    <section class="main-content">
        <aside class="profile">
            <div class="profile--card">
                <img
                    class="profile--img"
                    src="{{userprofile.profile_picture.url}}"
                    alt="user profile image"
                />
                <div class="user--info">
                    <h4 class="username" id="name">{{user.full_name}}</h4>

                    <p class="user-role" id="role">community ambassador</p>
                </div>
                <div class="user-contact">
                    <p class="user-email" id="email">{{user.email}}</p>
                    <p class="user-mobile" id="mobile">{{user.phone_number}}</p>
                </div>
                <a href="{% url 'ecousers:edit_profile' %}" class="edit-profile">
                    <img
                        src="/assets/icons/edit.svg"
                        class="icon"
                        alt=""
                        aria-hidden="true"
                    />
                    <span>edit profile</span>
                </a>
            </div>
            <button class="ambassador-btn">
                <img
                    src="/assets/icons/star.svg"
                    class="icon"
                    alt=""
                    aria-hidden="true"
                />
                <span>Become an ambassador</span>
            </button>
            <div class="account-action">
                <a href="{% url 'ecousers:change_password' %}" class="link-text">change password</a>
                <a href="{% url 'ecousers:logout' %}" class="logout-btn">Log Out</a>
            </div>
        </aside>
        <main class="card-main">
            <section class="profile--nav">
                <a href="{% url 'ecousers:dashboard' %}" class="profile--nav-link"
                    >problems</a
                >
                <a href="{% url 'ecousers:user_project' %}" class="profile--nav-link active"
                    >projects</a
                >
                <a href="{% url 'ecousers:user_ideas' %}" class="profile--nav-link">ideas</a>

                <button class="profile--nav-link search-btn">
                    <img
                        class="search-icon"
                        src="{% static 'images/category/search.png' %}"
                        alt="search button"
                    />
                </button>
            </section>
            <section class="stats">
                <h5 class="stats-heading">
                    Projects posted <span id="problem_count">({{projects_count}})</span>
                </h5>
                <div class="stats--wrapper">
                    <span class="stats--com">70%</span>
                    <span class="stats--org">20%</span>
                    <span class="stats--env">10%</span>
                </div>
                <div class="stats--legend">
                    <div class="legend--wrapper">
                        <div class="legend--item env"></div>
                        <span class="legend-label">environment</span>
                    </div>
                    <div class="legend--wrapper">
                        <div class="legend--item com"></div>
                        <span class="legend-label">community</span>
                    </div>
                    <div class="legend--wrapper">
                        <div class="legend--item org"></div>
                        <span class="legend-label">organization</span>
                    </div>
                </div>
            </section>
            {% for project in projects %}
            <div class="card">
                <div class="card-wrapper">
                    <div class="card-header">

                        <div class="eco-cat card-header--item">
                            <p class="text-fix">
                                Eco Category: <a class="category-tag" href="">{{project.category}}</a>
                            </p>
                        </div>
                        <div class="goal card-header--item">
                            <p class="text-fix">UNSdg Goal:</p>
                            <img class="icon" src="{% static 'images/card/eco.png' %}" alt="" />
                        </div>
                    </div>
                    <hr />
                    <div class="card-details">
                        <p>
                            {{project.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="details-page.html" class="secondary-btn">
                            <img
                                src="{% static 'icons/edit.svg' %}"
                                class="icon"
                                alt=""
                                aria-hidden="true"
                            />
                            <span>Edit project</span>
                        </a>
                         <form action="{% url 'ecousers:project_delete' project.slug %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="danger-btn">
                                <img src="{% static 'icons/trash.svg' %}" alt="delete project" class="trash-icon icon" />
                                <span>Delete project</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
            <p style="text-align:center; margin:5px;"> You have'nt posted a project</p>
            {% endfor %}
            
        </main>
        <aside class="sidebar form"></aside>
    </section>

    <script src="{% static 'js/nav.js' %}" defer></script>
    {% endblock profile %}