@mixin flexLayout {
	display: flex;
	gap: 24px;

	.text-description {
		width: 50%;
		h4 {
			margin-bottom: 12px;
		}
		p {
			margin-bottom: 24px;
		}
		.icon {
			font-size: 24px;
			margin-left: 6px;
		}
	}

	.image-container {
		display: flex;
		justify-content: baseline;
		width: 50%;
	}
}

@mixin before($bg-color, $pos, $b-rad: 0, $z: 0, $left: 0, $right: 0) {
	&::before {
		content: '';
		display: block;
		height: 100%;
		background-color: $bg-color;
		position: $pos;
		border-radius: $b-rad;
		z-index: $z;
		left: $left;
		right: $right;
	}
}

@mixin mobile-display($mobile-display: block) {
	.display-on-desktop {
		display: none !important;
	}

	.display-on-mobile {
		display: $mobile-display !important;
	}
}

@mixin desktop-display($desktop-display: block) {
	.display-on-mobile {
		display: none !important;
	}

	.display-on-desktop {
		display: $desktop-display !important;
	}
}
